# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build directories
dist/
build/
out/
tmp/
out-tsc/

# Environment variables
.env
.env.local

# OS and IDE files
.DS_Store
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
Thumbs.db
devplan.md

# Nx specific
.nx/cache
.nx/workspace-data